appdata/arcane/data
appdata/jackett
appdata/jellyfin
appdata/jellyseer
appdata/qbittorrent
appdata/sonarr
appdata/radarr
appdata/overseerr
appdata/tautulli
appdata/heimdall
appdata/ombi
appdata/organizr
appdata/portainer
appdata/nextcloud

!.gitignore
!**/.gitkeep

!appdata/gluetun
!appdata/gluetun/vpn
