appdata/arcane
appdata/gluetun
appdata/jackett
appdata/jellyfin
appdata/jellyseer
appdata/qbittorrent
appdata/radarr
appdata/sonarr
appdata/tautulli

downloads/**

media/movies/**
media/tv/**

!.gitignore
!**/.gitkeep

!appdata/gluetun
!appdata/gluetun/vpn

!appdata/arcane/
!appdata/arcane/templates/
!appdata/arcane/templates/compose/
!appdata/arcane/templates/compose/**
